body{
    background: linear-gradient(to right , #218f86 , #2cb8ab)
}
input{
    font-size: 34px;
     padding: 5px 15px;
    color: #4db6b1;
    width: 90%;
    height: 100%;
    cursor: pointer; 
    margin-bottom: 50px;
    background-color: transparent;
    font-size: 20px;
    text-align: right;
    outline: none;
    border: none;
}
.main-box{
    background-color: #020808;
    padding-top: 70px;
    border-radius: 10px;
    width: 272px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    margin: 0px auto;
}
button:hover{
    box-shadow:0 0 80px rgba(0,0,0,0.9) ;
}
button{
    border-radius:27px;
}
.btn-num{
    width: 70px;
    height: 55px;
    border: 1px solid #031016;
    background-color: transparent;
    margin-left: -5px;
    color: white;
    background: linear-gradient(125deg , #030909 , #142d38);
}
.btn-sum{
    width: 70px;
    height: 55px;
    border: 1px solid #031016;
    background-color: transparent;
    margin-left: -5px;
    color: white;
    background-color: #0e4e50;
}
.btn-res{
    width: 139px;
    height: 55px;
    border: 1px solid #031016;
    background-color: transparent;
    margin-left: -5px;
    color: white;
    background: linear-gradient(to right , #348878 , #2db7aa);
}
.heading{
    text-shadow: 4px 3px 3px  SteelBlue;
    font-family: cursive;
    font-size: 30px;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: underline;
}

@media only screen and (max-width: 400px) {
    body{
    background: linear-gradient(to right , #bfcecd , #0eb6a2)
}
    input{
        width: 80%;
        color:CornflowerBlue ;
    }
    .main-box{
     width: 80%; 
     background-color: Lavender; 
      padding-left: 10px;
}
    .btn-num{
    width: 25%;
    background: linear-gradient(125deg , #94a7a7 , #122835);
    outline: none;
    border: none;
}
    .btn-sum{
    width: 25%;
    outline: none;
    border: none;
    background-color: rgba(83, 115, 156, 0.8);
}
    .btn-res{
    width: 50%;
    outline: none;
    border: none;
    background: linear-gradient(to right , #73aaa0 , #1c7068);
}
 .heading{
 font-size: 21px;
}

}